body {
    background-color: lightgrey;
}

h1 {
    color: blue;
}

p {
    color:green;
}

article_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:yellow;
}

ad_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:orange;
}

product_name_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:green;
}

hbold {
	font-weight: : bold;
}

#boldrow {
	font-weight: : bold;
}
